<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scholarships 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B7BC391C39D81A00DC9151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B7BC501C39D81A00DC9151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B7BC5B1C39D81A00DC9151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
